footer{
  border: 1px solid red;
  padding: 15px;
  border: 2px solid #23283A;
  background-color: #161924;
}

footer a {
  color: white;
  text-align: center;
  border: 2px solid #23283A;
  background-color: #394263;
  color: #FFF;
  padding: 5px 10px;
}